{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<form method="post" class="registerForm">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ registrationForm.email.vars.value }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="plainPassword" id="inputPassword" class="form-control" autocomplete="new-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <input class="btn btn-lg btn-primary" type="submit" value="Register">
</form>
{% endblock %}